<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="8.5.0" targetFramework="net452" />
  <package id="EPPlus.Interfaces" version="8.4.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="16.0.18925.20022" targetFramework="net452" />
  <package id="QRCoder" version="1.7.0" targetFramework="net452" />
</packages>